<div class="row">
	<div class="col-xs-6">
		<p>user photo</p>
	</div>
	<div class="col-xs-18">
	<div class="row">
		<p>user name</p>
	</div>
	<div class="row">
		<p>content of comment</p>
		</div>
	</div>
</div>