<footer class="footer">
  <small>
    <%= t('global.f_text')%> <a href="http://www.railstutorial.org/"><%= t('global.t_text')%></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('global.about'),   about_path %></li>
      <li><%= link_to t('global.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
